<div class="select-country">
  <ng-select [items]="(getCountries | async) ?? []"
      bindLabel="name"
      labelForId="country"
      placeholder="Select Country"
      [editableSearchTerm]="true"
      [(ngModel)]="selectedCountry">
  </ng-select>
  <button type="submit" [disabled]="!selectedCountry || isSaving" (click)="onSubmit()">Submit</button>
</div>
<div *ngIf="showStats" class="country-stats">
  <div class="stat confirmed">
    <h3>Confirmed</h3>
    <span>{{ !isSaving ? (confirmed | number:'1.0-0'): '--' }}</span>
  </div>
  <div class="stat recovered">
    <h3>Recovered</h3>
    <span>{{ !isSaving ? (recovered | number:'1.0-0'): '--' }}</span>
  </div>
  <div class="stat deaths">
    <h3>Deaths</h3>
    <span>{{ !isSaving ? (deaths | number:'1.0-0'): '--' }}</span>
  </div>
  <div class="stat vaccinated">
    <h3>Vaccinated</h3>
    <span>{{ !isSaving ? ((vaccinated | number:'1.0-0') + '%'): '--' }}</span>
  </div>
</div>
<div class="historical-chart">
  <div style="display: block" [class.chartDisplay]="!showStats">
    <canvas id="historyChart" #historyChart width="100%" height="100%"></canvas>
  </div>

  <div *ngIf="!showStats" class="loading-tooltip">
    <span>Loading...</span>
  </div>
</div>