<div class="select-country">
  <ng-select [items]="countries"
      bindLabel="name"
      labelForId="country"
      placeholder="Select Country"
      [editableSearchTerm]="true"
      [(ngModel)]="selectedCountry">
  </ng-select>
  <button type="submit" [disabled]="!selectedCountry || isSaving" (click)="onSubmit()">Submit</button>
</div>
<div *ngIf="showStats" class="country-stats">
  <h3 *ngIf="showServerError" style="color:red">Server Unavailable</h3>
  <div class="stat confirmed">
    <h3>Confirmed</h3>
    <span>{{ !isSaving ? (confirmed | number:'1.0-0'): '--' }}</span>
  </div>
  <div class="stat recovered">
    <h3>Recovered</h3>
    <span>{{ !isSaving ? (recovered | number:'1.0-0'): '--' }}</span>
  </div>
  <div class="stat deaths">
    <h3>Deaths</h3>
    <span>{{ !isSaving ? (deaths | number:'1.0-0'): '--' }}</span>
  </div>
  <div class="stat vaccinated">
    <h3>Vaccinated</h3>
    <span>{{ !isSaving ? ((vaccinated | number:'1.0-0') + '%'): '--' }}</span>
  </div>
</div>
<div [class.hidden]="!showStats" class="historical-chart">
  <div style="display: block" [class.hidden]="isSaving">
    <canvas id="historyChart" #historyChart style="position: relative; height:40vh; width:80vw"></canvas>
  </div>

  <div *ngIf="isSaving" class="loading-tooltip">
    <span>Loading...</span>
  </div>
</div>